<h1> Selamat Datang <h1>
	<h2>Articles#index</h2>
<p>Find me in app/views/articles/index.html.erb</p>


      <%= flash[:notice] %>


<table border = "1">

 <tr>
 	<TD> Title</TD>
 	<TD> Descriptions </TD>
 	<TD> User </TD>
 	

 </tr>

	<% @articles.each do |article|%>

<tr>

	<TD> <%= article.title%> </TD>
	<TD> <%= article.descriptions %> </TD>
	<TD> <%= article.user%> </TD>
	


</tr>
<%end%>


 </table>
      