<h1>Articles#show</h1>
<p>Find me in app/views/articles/show.html.erb</p>

<% @products = product.name%>
<% @products = product.descriptions%>
<% @products = product.price%>
<% @products = product.stock%>
<% link_to = "Back to Index" , :articles %>
